html {
    background-color: grey;
    color: aliceblue;
    text-align: center;
    padding-top: 150px;
}

body {
    position:relative;
    min-height:150vh;
    margin-left: 0px;
}

img {
    width: 550px;
    padding-bottom: 50px;
}
.table {
    display: inline-block;
    align-items: center;
    background-color: rgb(90, 68, 68);
    color: white;
}

.text_market {
    color:rgb(223, 226, 43);
}

.result_final {
    color: rgba(5, 5, 5, 0.932);
    background-color: aliceblue;
    width: 550px;
    display: inline;
    padding: 5px;
    border-radius: 5px;

}

.sub {
    padding-top: 5px;
}

footer {
    position:absolute;
    bottom:0%;
    width:100vw;
    background-color:rgba(5, 5, 5, 0.932);
    margin-bottom: 0px;
    
}